<p id="notice"><%= notice %></p>

<section class="pb-5">
  <div class="container">
    <div class="row pt-5">
      <!-- Content-->

      <!-- Post-->
      <article class="post">
        <div class="post-header">
          <h2 class="post-title"><%= @author.name %></h1>
        </div>
        <div class="media post-author-box">
          <img class="d-flex mr-3 rounded-circle" src="/author.png" alt="Generic placeholder image">
          <div class="media-body">

            <p class="mb-0"><%= @author.bio %></p>
            <ul class="socials list-unstyled mb-0 mt-3">
              <% if @author.twitter %>
                <li><a href="#{@author.twitter_url}"><i class="mdi mdi-twitter"></i></a></li>
              <% end %>
              <% if @author.website %>
                <li><a href="#{@author.website}"><i class="mdi mdi-laptop"></i></a></li>
              <% end %>
              <% if @author.github %>
                <li><a href="#{@author.github_url}"><i class="mdi mdi-search-web"></i></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </article>

      <!-- Post-->
      <article class="post">
        <div class="post-header">
          <h2 class="post-title">Posts</h2>
        </div>
        <% @author.posts.each do |post| %>
          <div class="media post-author-box">
            <div class="media-body">
              <h5 class="mb-0"><%= link_to post.title, post %></h5>
              <p class="mb-0"><%= post.body.truncate_words(20) %></p>
            </div>
          </div>
        <% end %>
      </article>
    </div>
  </div>
</section>
