<section class="mt-5 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <% @posts.each do |post| %>
          <article class="post">
            <div class="post-header">
              <h2 class="post-title"><%= link_to post.title, post %></h2>
              <ul class="post-meta">
                <li><i class="mdi mdi-calendar"></i> <%= post.posted_at %></li>
              </ul>
            </div>
            <div class="post-content">
              <%= truncate(strip_tags(post.rich_text_body.to_s), length: 100) %>
            </div>
            <div><%= link_to 'Read More', post, class: "btn btn-outline-custom"%> <i class="mdi mdi-arrow-right"></i></a></div>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= paginate @posts %>
